<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <header>
        <h1>@ViewBag.Title</h1>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a asp-page="/Index" class="navbar-brand">WebApplicationFreelancer</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a asp-page="/Index">Home</a></li>
                        <li><a asp-page="/About">About</a></li>
                        <li><a asp-page="/Contact">Contact</a></li>
                        <li><a href="/">CustomersCats/Index</a></li>
                        <li><a href="/Customercats/Details">CustomersCats/Details</a></li>
                        <li><a href="/Customercats/Create">CustomersCats/Create</a></li>
                        <li><a href="/Customercats/Edits">CustomersCats/Edits</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main>

        <div class="container body-content">
            @RenderBody()

            @Html.ActionLink("Create New", "Create")

        </div>


        <hr />

    </main>
    


    <footer>
        <p>&copy; 2021 - WebApplicationFreelancer</p>
        <p> @ViewBag.Author</p>
    </footer>

</body>
</html>
